#nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#nav {
    img {
        margin-left: 10px;
    }
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-left: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.links {
    text-decoration: none;
    color: black;
    margin-left: 50px;
}

#sfl {
    margin-left: 610px;
}

.pi {
    margin-left: 60px;
}

.pid {
    margin-left: 10px;
}

#shoe1 {
    margin-left: 15px;
    border-radius: 20px;
}

#shoes {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: row;
}

#shoe2 {
    border-radius: 20px;
}

#shoe3 {
    border-radius: 20px;
    margin-top: 40px;
}

#tn {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: solid #dee2e6 1px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.logoes {
    margin-left: 10px;
}

#t {
    margin-left: 420px;
}

#ca {
    margin-left: 385px;
    text-decoration: none;
    color: black;
}

.aitn {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

#ts {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tdis {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tdd {
    background-color: #f1f1f1;
    width: 1250px;
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#mtdt {
    display: inline-block;
    margin-top: 20px;
    margin-left: 60px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

#nmtdt {
    display: inline-block;
    margin-top: 10px;
    margin-left: 68px;
    color: #7a7a7a;
}

#eb {
    background-color: #111111;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    border: none;
    margin-right: 130px;
    margin-top: 20px;
}

#tid {
    display: inline-block;
}

#mdp {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tff {
    margin-left: 25px;
    margin-bottom: 20px;
}

.pl {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
}

.pipl {
    padding-left: 10px;
    padding-right: 10px;
}

.pao {
    margin-top: 20px;
    display: inline-block;
    margin-left: 10px;
}

#vaa {
    text-decoration: none;
    color: black;
}

#footer {
    width: 100%;
    height: 350px;
    border-top: solid #dee2e6 1px;
}

#ft {
    width: 100%;
    font-size: 20px;
}

td {
    text-align: center;
}
